body {
  background-color: #121212;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
  }
}

.container {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  button {
    min-width: 10em;
  }
}

.admin-container {
  height: 100vh;
  width: 100vw;
}
